$mainHeadingFont: 'Libre Baskerville', serif;
$headingFont: 'Noto Sans', sans-serif;
$paragraphFont: 'Source Sans Pro', sans-serif;
$maximumWidth: 1200px;

// //////
$transition: 300ms all linear;

// //////
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
